body{/*define um estilo parab todo o corpo da minha pagina */
    font-family: 'Poppins', sans-serif;/*define a fonte utilizado */
    margin:0;/* aqui deefini que minha página  comece no topo e à esquerda da janela do navegador retirando espaçamento(margem) ao redor da minha página */
    padding:0;/* padding: 0; define que o elemento body não terá nenhum espaço de preenchimento dentro de suas bordas, ou seja, o conteúdo do elemento body começará imediatamente após suas bordas */
}

.container {/* Define um estilo para um contêiner que envolve o formulário*/
    min-height: 100vh; /*efine a altura mínima do container como 100% da altura da viewport do usuário */
    background: linear-gradient(45deg, blueviolet, deeppink);/*criei um fundo gradiente com duas cores com um angulo de 45graus */
    display: flex; /* criei um  flex container, permitindo que seus filhos sejam todos alinhados */
    align-items: center; /*Alinhei verticalmente os filhos do container ao centro.*/
    justify-content: center; /* Centralizei horizontalmente os filhos do container.*/
    flex-flow: column;/*forma que consegui alinhar  o cartão com o formulario em colunas verticalmente */ 
}

.container form { /* define um estilo para o contêiner do interior do formulário*/
    background: #fff; /*colquei o fundo do form branco */
    border-radius: 5px; /*utilezei 5 pixel para arrendodar as cantos do conteiner */
    padding: 20px; /*adicionei um preenchimento em todas as direçoes  para que os imput fiquem longe das bordas do conteiner */
    width: 600px; /* defini a largura do meu conteiner */
    padding-top: 160px; /* coloquei um preenchimento na parte superior do meu conteiner */
    
}    

.inputBox{ /* aqui defini o espaçmento entre os input dentro do meu form */
    margin-top: 20px;
    margin-right: 20px;
}
.inputBox span{ /*aqui defini um displey alinhado com os seus filhos dentro do meu grupo <span>, e oepaçamento inferior*/
    display: flex;
    padding-bottom: 5px;
}

.inputBox input,
.inputBox select{ /*define o estilo dos meus inputse input select */
    width: 100%; /* define a largura dos input que ocupa 100% dentro do meu conteiner form */
    padding: 10px; /*preenchumento interno dos input e input box no tamaho de 10 pixels */
    border-radius: 10px; /* aqui arrendodei em 10 pixels as bordas dos meus inputs e input selecet*/
}

.flexbox{ /* aqui coloquei um display flex, que me permite alinhar todo meu conjunto flexbox, e na propriedade gap me permitiu dar um espaçamento entre os input*/
    display: flex;
    gap: 15px;
}


.submit-btn{ /*estilização do meu botão*/
    width:100%; /* Define a largura do botão como 100% da largura  */
    background: linear-gradient(45deg, blueviolet, deeppink); /* Define um gradiente de cores de fundo para o botão */
    margin-top: 20px; /* Define uma margem superior de 20 pixels para o botão */
    padding: 10px; /* Define o preenchimento interno de 10 pixels para o botão */
    font-size: 20px; /* Define o tamanho da fonte do texto do botão como 20 pixels */
    color:#fff; /* Define a cor do texto do botão como branco */
    border-radius: 10px; /* Define um raio de borda de 10 pixels para arredondar as bordas do botão */
    cursor: pointer; /* Define o cursor do mouse como "pointer", indicando que o botão é clicável */
    transition: .2s linear; /* Adiciona um efeito de transição suave de 0,2 segundos ao botão */
}


.submit-btn:hover{ /*estilização do cursos do botão */
    letter-spacing: 2px; /*aqui coloquei para que o usuario passe o mause em cima do cursor as letras ganhem um espaçamento de 2pixel*/
    opacity: .8; /*ao passar o cursor a opacidade é reduzida tornando o botão um pouco transperente */
}


.card-container img {
    margin-bottom: -150px; /* aqui coloquei que a minha a imagem se sobrepõnha ao conteúdo abaixo dela. criando uma margem negativa de 150 ps*/
    position:relative; /* permite que meu cartçao fique acima do meu comnteiner form */
    height: 250px; /*altura da minha imagem */
    width:400px; /*largura da minha imagem */
}
  
  .bandeira img {
    max-width: 80px; /* define a altura*/
    max-height: 80px; /* define a largura */
    margin-top: 30px; /*define a distancia superior do elemento anterior */
  }

 
.bandeira-visa,
.bandeira-mastercard,
.bandeira-elo {  /*ocultei minhas bandeiras para que  apareça somente quando for chamada no js */
   display: none;
}
